<% content_for :title, "Editing vote" %>

<h1>回答</h1>

<%= render "form", vote: @vote %>

<br>

<% if authenticated? %>
  <div class="for-admin">
  <%= link_to "Show this vote", @vote %> |
  <%= link_to "Back to votes", votes_path %>
</div>
<% end %>