<% content_for :title, "Editing event" %>

<h1>イベントの編集</h1>

<%= render "form", event: @event %>

<div class="alert alert-info mt-3">
  既に回答がついている場合、候補日時は編集せず、新規にイベントを作成してください。
</div>

<div>
  <%= link_to "表示", @event, class: "btn btn-light" %>
  <%= link_to "一覧", events_path, class: "btn btn-light" %>
</div>
