<% content_for :title, "Events" %>

<h1>Events</h1>

<table id="events" class="table">
  <% @events.each do |event| %>
    <tr>
      <td>
        <%= render event %>
      </td>
      <td>
        <%= link_to "Show this event", event %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "New event", new_event_path, class: "btn btn-primary" %>
