<% content_for :title, "イベント一覧" %>

<h1>イベント一覧</h1>

<table id="events" class="table">
  <% @events.each do |event| %>
    <tr>
      <td>
        <%= link_to event.title, event_path(event, token: event.token) %>
      </td>
      <td>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "新しいイベント", new_event_path, class: "btn btn-primary" %>
