<% content_for :title, "新しいイベント" %>

<div class="row">
  <div class="col-md-6">

<h1>新しいイベント</h1>

<%= render "form", event: @event %>

<br>

<% if authenticated? %>
<div class="for-admin">
  <%= link_to "一覧", events_path, class: "btn btn-light" %>
</div>
<% end %>

</div>

<div class="col-md-6">
  <p>イベントを作成するには、フォームに必要な情報を入力してください。作成後のURLを共有することで、他の方に回答を追加してもらうことができるようになります。</p>
  <p>イベントの詳細は、後で編集することもでき…るようにしたいのですが、現在、<a href="https://x.com/YoseiIto" target="_blank">管理者</a>のみが操作可能です。
  修正したい場合は、新たに作り直すか、個別にご連絡ください（回答がついた後は、管理者でも候補日時の編集はできません）。</p>
</div>
</div>