<div class="row">
    <div class="col-md-6 offset-md-3 bg-light p-3 mb-3 rounded">
        <p>イベント日程調整ツール。rev1</p>
        <p><a href="https://lmlab.net/books/2501_rails">Dive into Ruby on Rails 2025</a>
        という書籍で構築する(予定の)サンプルアプリケーションです。誰でも（ログインなしで）イベントの候補日に対する
        参加可否の投票ができるフォームを作成することができます。<br>
        </p>
    </div>
</div>

<div class="text-center">
    <%= link_to '新しいイベントを作成する', new_event_path, class: "btn btn-lg btn-success" %>
</div>