<% content_for :title, "Inquiries" %>

<h1>Inquiries</h1>

<div id="inquiries">
  <% @inquiries.each do |inquiry| %>
    <div class="card mb-3">
      <div class="card-body">
      <%= render inquiry %>
      <p class="card-text">
        <%= link_to "Show this inquiry", inquiry, class: "btn btn-light" %>
      </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New inquiry", new_inquiry_path, class: "btn btn-primary" %>
